/* Dropdowns */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #51ca59;
}
.dropdown-menu {
background: #fff;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
border: 0px transparent;
border-radius: 0px;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
background-color: #009688;
color: #fff;
}
.dropdown-menu > li > a:hover {
    color: #fff;
}
