/* Labels */
.label-success {
background-color: #fff;
color: #26A69A;
padding-top: 5px;
}
.label-danger {
background-color: #fff;
color: #e51c23;
padding-top: 5px;
}
.label-primary {
  background-color: #51ca59;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #36b23e;
}
