/*!
* --------------------------------------------------
* Links
* --------------------------------------------------
*/

a {
  color: #384783;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #212a4d;
    text-decoration: underline;
  }

  &:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  & .thumbnail {
    &:hover,
    &:focus,
    & .active {
      border-color: #384783;
    }
  }
}

.btn-link {
  color: #384783;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;

  &:hover,
  &:focus {
    color: #212a4d;
    text-decoration: underline;
    background-color: transparent;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    box-shadow: none;
  }

  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: #999999;
      text-decoration: none;
    }
  }
}
