/*!
* --------------------------------------------------
* Navbar
* --------------------------------------------------
*/

.navbar-default {
  background-color: $navbar-bg;
  border-color: $navbar-bg;
  text-transform: uppercase;
  box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.24);
  border: 0px transparent;

  & .navbar-header {
    > .navbar-brand {
      &,
      &:hover {
        color: #fff;
      }
    }

    > .navbar-toggle {
      border-color: transparent;

      & .icon-bar {
        background-color: #fff;
      }

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }

  & .navbar-nav {
    > li {
      > a {
        color: #fff;
        text-transform: none;
        font-size: 16px;
        transition: 300ms;

        &:hover,
        &:focus {
          color: #fff;
          text-decoration: none;
          background-color: darken($navbar-bg, 4%);
        }

        @include ripple(#fff);
      }
    }

    > .active {
      > a {
        &,
        &:hover,
        &:focus {
          color: #fff;
          background: darken($navbar-bg, 10%) !important;
        }
      }
    }

    > .open {
      > a {
        &,
        &:hover,
        &:focus {
          color: #fff;
          background: darken($navbar-bg, 10%) !important;

          & .caret {
            border-top-color: #fff;
            border-bottom-color: #fff;
          }
        }
      }

      & .dropdown-menu {
        > li {
          > a {
            @media (max-width: 767px) {
              &,
              &:hover,
              &:focus {
                color: #fff;
                background: transparent;
              }
            }
          }
        }
      }
    }

    > .dropdown {
      > a {
        &,
        &:hover,
        &:focus {
          & .caret {
            border-top-color: #fff;
            border-bottom-color: #fff;
          }
        }
      }
    }
  }

  & .navbar-collapse,
  & .navbar-form {
    border: 0;
  }
}
