/*
* --------------------------------------------------
* Label
* --------------------------------------------------
*/

.label-success {
  background-color: $online-status-bg;
  color: $online-status-color;
  padding-top: 5px;
}

.label-danger {
  background-color: $offline-status-bg;
  color: $offline-status-color;
  padding-top: 5px;
}

.label-primary {
  background-color: #51ca59;

  &[href] {
    &:hover,
    &:focus {
      background-color: #36b23e;
    }
  }
}
