//
// Navs
// --------------------------------------------------

.nav-pills {
  > li {
    float: left;

    > a {
      border-radius: 4px;
    }

    + li {
      margin-left: 2px;
    }

    & .active {
      > a {
        &,
        &:hover,
        &:focus {
          color: #ffffff;
          background-color: $brand-primary;

          & .caret {
            border-top-color: #ffffff;
            border-bottom-color: #ffffff;
          }
        }
      }
    }
  }
}

a {
  & .list-group-item {
    color: #555555;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: #f5f5f5;
    }

    & .active {
      &,
      &:hover,
      &:focus {
        z-index: 2;
        color: #ffffff;
        background-color: $brand-primary;
        border-color: $brand-primary;

        & .list-group-item-heading {
          color: inherit;
        }

        & .list-group-item-text {
          color: #edfaee;
        }
      }
    }

    & .list-group-item-heading {
      color: #333333;
    }
  }
}
