//
// Navbar
// --------------------------------------------------

.navbar-default {
  background-color: $navbar-bg;
  border-color: $navbar-bg;
  text-transform: uppercase;
  box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.24);
  border: 0px transparent;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-transform: none;
  font-size: 16px;
  transition: background-color 500ms linear;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: darken($navbar-bg, 4%);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background: darken($navbar-bg, 10%) !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: 0;
}
